# Step 1 Create a new notebook for this task. Be sure to import the relevant libraries, along with your ords_prods_merge dataframe, which should include your newly derived columns from the previous Exercise.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# Import ords_prods_merge
path = r'C:\Users\X1\Instacart Basket Analysis Master'

ords_prods_merge = pd.read_pickle(os.path.join(path,'02 Data', 'Prepared Data', 'orders_products_merged_updated.pkl'))

# Step 2 In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [2]:
# Find aggregated mean of the "order_number" column grouped by "department_id"

ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457687
2                17.277920
3                17.179756
4                17.811403
5                15.213779
6                16.439806
7                17.225773
8                15.340520
9                15.895474
10               20.197148
11               16.170828
12               15.887622
13               16.583304
14               16.757377
15               16.165037
16               17.663250
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

# Step 3 Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

### Compared to the subset of only the first one million entries, this new result has many more departments listed. Additionally, the overall mean is higher.

# Step 4 Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [3]:
# First split data in groups
# Create 'max_order' column to show flag results
# order_prods_merge is grouped by 'user_id'
# transform() function is applied on 'order_number' with np.max

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\X1\AppData\Local\Temp\ipykernel_5200\807423698.py:6: FutureWarning: The provided callable <function max at 0x000001EA0C75CE00> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [4]:
#ords_prods_merge.head(100)

### To display all rows use:

In [5]:
# pd.options.display.max_rows = None
# Did not display all rows to save RAM

In [6]:
# After max_order column is created, set flag with loc()

ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [7]:
# Check frequency 
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15891077
Loyal customer      10293737
New customer         6249398
Name: count, dtype: int64

In [8]:
# Cross check multiple columns with .head()

ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3

# Step 5 The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [9]:
# Check basic statistics of product prices for each loyalty category

ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.388747  1.0  99999.0
New customer      13.294370  1.0  99999.0
Regular customer  12.496203  1.0  99999.0

### On average, loyal customers are purchasing lower priced items compared to other customers.

# Step 6 The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying.

In [10]:
# Group 'user_id' & prices
# Create new column 'mean_price_spent
# transform() prices into mean value

ords_prods_merge['mean_price_spent'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\X1\AppData\Local\Temp\ipykernel_5200\1254822533.py:5: FutureWarning: The provided callable <function mean at 0x000001EA0C75D800> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['mean_price_spent'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [11]:
# Qucik check of results

ords_prods_merge[['user_id', 'mean_price_spent']].head(60)

    user_id  mean_price_spent
0         1          6.367797
1         1          6.367797
2         1          6.367797
3         1          6.367797
4         1          6.367797
5         1          6.367797
6         1          6.367797
7         1          6.367797
8         1          6.367797
9         1          6.367797
10       15          3.980556
11       15          3.980556
12       15          3.980556
13       15          3.980556
14       15          3.980556
15       19          8.372059
16       19          8.372059
17       19          8.372059
18       21          7.012683
19       31          8.137793
20       31          8.137793
21       43          7.444898
22       43          7.444898
23       52          6.408876
24       52          6.408876
25       52          6.408876
26       52          6.408876
27       52          6.408876
28       52          6.408876
29       52          6.408876
30       52          6.408876
31       52          6.408876
32       52          6.408876
33       52          6.408876
34       52          6.408876
35       52          6.408876
36       52          6.408876
37       67          7.656790
38       67          7.656790
39       67          7.656790
40       67          7.656790
41       67          7.656790
42       67          7.656790
43       67          7.656790
44       67          7.656790
45       67          7.656790
46       67          7.656790
47       67          7.656790
48       67          7.656790
49       67          7.656790
50       67          7.656790
51       67          7.656790
52       67          7.656790
53       67          7.656790
54       67          7.656790
55       67          7.656790
56       81          8.262963
57       81          8.262963
58       82          6.441221
59       82          6.441221

In [12]:
# Create a spending flag for each user based on the average price across all their orders as "Low spender" or "High spender"

ords_prods_merge.loc[ords_prods_merge['mean_price_spent'] < 10, 'spending_flag'] = 'Low spender'

In [13]:
ords_prods_merge.loc[ords_prods_merge['mean_price_spent'] >= 10, 'spending_flag'] = 'High spender'

In [14]:
# Frequency check

ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     31798751
High spender      635461
Name: count, dtype: int64

# Step 7 In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column.

In [15]:
# Group
# Create new column 'median_days'
# transform() median

ords_prods_merge['median_days'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\X1\AppData\Local\Temp\ipykernel_5200\2490876957.py:5: FutureWarning: The provided callable <function median at 0x000001EA0C8A5440> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['median_days'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [16]:
# Quick check of results

ords_prods_merge[['user_id', 'days_since_prior_order', 'median_days']].head(60)

    user_id  days_since_prior_order  median_days
0         1                     NaN         20.5
1         1                    15.0         20.5
2         1                    21.0         20.5
3         1                    29.0         20.5
4         1                    28.0         20.5
5         1                    19.0         20.5
6         1                    20.0         20.5
7         1                    14.0         20.5
8         1                     0.0         20.5
9         1                    30.0         20.5
10       15                     7.0         10.0
11       15                     8.0         10.0
12       15                     7.0         10.0
13       15                     7.0         10.0
14       15                    14.0         10.0
15       19                     6.0          6.0
16       19                     8.0          6.0
17       19                     6.0          6.0
18       21                     6.0          7.5
19       31                     7.0          6.0
20       31                     8.0          6.0
21       43                     4.0         10.0
22       43                     3.0         10.0
23       52                     NaN          8.0
24       52                     7.0          8.0
25       52                     7.0          8.0
26       52                     8.0          8.0
27       52                     8.0          8.0
28       52                     7.0          8.0
29       52                     8.0          8.0
30       52                     7.0          8.0
31       52                     6.0          8.0
32       52                     8.0          8.0
33       52                     6.0          8.0
34       52                    14.0          8.0
35       52                     8.0          8.0
36       52                    30.0          8.0
37       67                     NaN          7.0
38       67                     5.0          7.0
39       67                     7.0          7.0
40       67                     8.0          7.0
41       67                     8.0          7.0
42       67                     7.0          7.0
43       67                     7.0          7.0
44       67                     7.0          7.0
45       67                     6.0          7.0
46       67                     7.0          7.0
47       67                     8.0          7.0
48       67                     6.0          7.0
49       67                     7.0          7.0
50       67                     9.0          7.0
51       67                     4.0          7.0
52       67                     9.0          7.0
53       67                     5.0          7.0
54       67                    14.0          7.0
55       67                    14.0          7.0
56       81                    14.0         30.0
57       81                    30.0         30.0
58       82                     NaN         11.5
59       82                     5.0         11.5

In [17]:
# Create flag for “Non-frequent customer”, “Regular customer”, & “Frequent customer.”

ords_prods_merge.loc[ords_prods_merge['median_days'] > 20, 'frequent_customer_flag'] = 'Non-frequent customer'

In [18]:
ords_prods_merge.loc[(ords_prods_merge['median_days'] > 10) & (ords_prods_merge['median_days'] <= 20), 'frequent_customer_flag'] = 'Regular customer'

In [19]:
ords_prods_merge.loc[ords_prods_merge['median_days'] <= 10, 'frequent_customer_flag'] = 'Frequent customer'

In [20]:
# Frequency check

ords_prods_merge['frequent_customer_flag'].value_counts(dropna = False)

frequent_customer_flag
Frequent customer        21577409
Regular customer          7217134
Non-frequent customer     3639669
Name: count, dtype: int64

In [21]:
# Cross checking multiple columns with .head()

ords_prods_merge[['user_id', 'days_since_prior_order', 'frequent_customer_flag']].head(60)

    user_id  days_since_prior_order frequent_customer_flag
0         1                     NaN  Non-frequent customer
1         1                    15.0  Non-frequent customer
2         1                    21.0  Non-frequent customer
3         1                    29.0  Non-frequent customer
4         1                    28.0  Non-frequent customer
5         1                    19.0  Non-frequent customer
6         1                    20.0  Non-frequent customer
7         1                    14.0  Non-frequent customer
8         1                     0.0  Non-frequent customer
9         1                    30.0  Non-frequent customer
10       15                     7.0      Frequent customer
11       15                     8.0      Frequent customer
12       15                     7.0      Frequent customer
13       15                     7.0      Frequent customer
14       15                    14.0      Frequent customer
15       19                     6.0      Frequent customer
16       19                     8.0      Frequent customer
17       19                     6.0      Frequent customer
18       21                     6.0      Frequent customer
19       31                     7.0      Frequent customer
20       31                     8.0      Frequent customer
21       43                     4.0      Frequent customer
22       43                     3.0      Frequent customer
23       52                     NaN      Frequent customer
24       52                     7.0      Frequent customer
25       52                     7.0      Frequent customer
26       52                     8.0      Frequent customer
27       52                     8.0      Frequent customer
28       52                     7.0      Frequent customer
29       52                     8.0      Frequent customer
30       52                     7.0      Frequent customer
31       52                     6.0      Frequent customer
32       52                     8.0      Frequent customer
33       52                     6.0      Frequent customer
34       52                    14.0      Frequent customer
35       52                     8.0      Frequent customer
36       52                    30.0      Frequent customer
37       67                     NaN      Frequent customer
38       67                     5.0      Frequent customer
39       67                     7.0      Frequent customer
40       67                     8.0      Frequent customer
41       67                     8.0      Frequent customer
42       67                     7.0      Frequent customer
43       67                     7.0      Frequent customer
44       67                     7.0      Frequent customer
45       67                     6.0      Frequent customer
46       67                     7.0      Frequent customer
47       67                     8.0      Frequent customer
48       67                     6.0      Frequent customer
49       67                     7.0      Frequent customer
50       67                     9.0      Frequent customer
51       67                     4.0      Frequent customer
52       67                     9.0      Frequent customer
53       67                     5.0      Frequent customer
54       67                    14.0      Frequent customer
55       67                    14.0      Frequent customer
56       81                    14.0  Non-frequent customer
57       81                    30.0  Non-frequent customer
58       82                     NaN       Regular customer
59       82                     5.0       Regular customer

# Step 9 Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.

In [24]:
ords_prods_merge = ords_prods_merge.drop(columns = ['_merge'])

In [26]:
ords_prods_merge = ords_prods_merge.drop(columns = ['busiest_day'])

In [27]:
ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434212 entries, 0 to 32434211
Data columns (total 22 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_week      int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
 6   product_id              int64
 7   add_to_cart_order       int64
 8   reordered               int64
 9   product_name            object
 10  aisle_id                int64
 11  department_id           int64
 12  prices                  float64
 13  price_range_loc         object
 14  busiest_days            object
 15  busiest_period_of_day   object
 16  max_order               int64
 17  loyalty_flag            object
 18  mean_price_spent        float64
 19  spending_flag           object
 20  median_days             float64
 21  frequent_customer_flag  object
dtypes: float64(4), int64(11), object(7)
memory usage: 5.3+ GB

In [28]:
# Export as pickle

ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_updated_1.pkl'))